.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.board-container {
      width: 600px;
      height: 600px;
      display: flex;
      flex-wrap: wrap;
      border: 1px solid gray;
      margin: 5px;
}
.row {
  display: flex; 
  margin: 20px;
}

.col {
  flex: 1;
  margin: 20px;
}
